<h1><%= t("titles.students.index") %></h1>

<ul>
  <li>
    <%= link_to t("helpers.students.create"), students_path %>
  </li>

  <li>
    <%= link_to t("helpers.course.create"), courses_path %>
  </li>
</ul>
